name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install libx11-dev on ubuntu-latest
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get install -y libx11-dev

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm
          cache-dependency-path: |
            pnpm-lock.yaml
            release/app/pnpm-lock.yaml

      - name: pnpm install
        run: |
          pnpm install

      - name: pnpm test
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pnpm run package
          pnpm run lint
          pnpm exec tsc
          pnpm test
